tags
cmbuild
.cproject
.project
.vscode
.gitignore
.yuv
.log
rtl/out
rtl/output
third_party/deps_cmake/
third_party/tensorflow/
TAGS
__pycache__
ParaKit/venv/
ParaKit/bitstreams/*
ParaKit/results/*
ParaKit/unit_test/data/*
ParaKit/unit_test/*.h
ParaKit/binaries/*
parakit.egg-info/
.DS_Store
.idea/

# Ignore all in build folder except a few elements
build/
!build/cmake
!build/.gitattributes

# Vim swap files
*.swp
*.swn
*.swo
