name: Enc job reusable
on:
  workflow_call:
    inputs:
      avm-enc-output:
        type: string
        required: true
      avm-enc-limit:
        type: number
        required: true
      parent-job-name:
        type: string
        required: true
      runner:
        type: string
        default: '["self-hosted"]'
        required: false
      container-image:
        type: string
        default: docker-registry-internal.aom-infra.org/aomediacodec/aom-testing/ubuntu2404:lnicolas
        required: false
      timeout-minutes:
        type: number
        required: false
        default: 660

defaults:
  run:
    shell: bash

jobs:
  enc-current:
    name: enc-${{ inputs.avm-enc-output }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    runs-on: ${{ fromJson(inputs.runner) }}
    container:
      image: ${{ inputs.container-image }}
    env: &job-enc-current-env
      AVMENC_OUTPUT: ${{ inputs.avm-enc-output }}
      AVMENC_COMMON_ARGS: "\
        --debug \
        --cpu-used=0 \
        --passes=1 \
        --deltaq-mode=0 \
        --enable-keyframe-filtering=0 \
        --enable-tpl-model=0 \
        --use-fixed-qp-offsets=1 \
        --end-usage=q \
        --obu \
        --psnr \
      "
      AVMENC_LIMIT: ${{ inputs.avm-enc-limit }}
      AVMENC_QP: 210
      AVMENC_INPUT: Vertical_Bayshore_270x480_2997.y4m
    steps: &job-enc-current-steps
      - name: Set variables
        id: variables
        run: |
          if [ "${GITHUB_JOB}" = "enc-previous" ]; then
            AVMENC_OUTPUT_BASENAME=previous-${AVMENC_OUTPUT}
            AVMENC_BUILD_JOB=previous-build-x86_64-linux-gcc-encode-only
            AVMENC=avm_example_build/usr/local/bin/avmenc
          else
            AVMENC_OUTPUT_BASENAME=${AVMENC_OUTPUT}
            AVMENC_BUILD_JOB=example-build
            AVMENC=avm_example_build/avmenc
          fi

          # Set output variables for future usage
          echo "artifact-name=enc-${AVMENC_OUTPUT_BASENAME}" >>${GITHUB_OUTPUT}
          echo "artifact-basename=${AVMENC_OUTPUT_BASENAME}" >>${GITHUB_OUTPUT}
          echo "avm-enc-build-job=${AVMENC_BUILD_JOB}" >>${GITHUB_OUTPUT}

          # Append to workflow environment
          echo "AVMENC_OUTPUT_BASENAME=${AVMENC_OUTPUT_BASENAME}" >>${GITHUB_ENV}
          echo "AVMENC=${AVMENC}" >>${GITHUB_ENV}

      - name: Configure AVM encoder
        run: |
          if [ -z "${AVMENC_OUTPUT}" ]; then
            echo "AVMENC_OUTPUT is not set." >&2
            exit 1
          fi

          # common encoder arguments to all outputs
          AVMENC_ARGS="${AVMENC_COMMON_ARGS} \
            --qp=${AVMENC_QP} \
            --limit=${AVMENC_LIMIT} \
            -o ${AVMENC_OUTPUT_BASENAME}.obu \
          "

          # output-specific arguments
          case ${AVMENC_OUTPUT} in
            all-intra)
              AVMENC_ARGS="${AVMENC_ARGS} \
              --kf-max-dist=0 \
              --kf-min-dist=0 \
              "
              ;;

            random-access)
              AVMENC_ARGS="${AVMENC_ARGS} \
                --auto-alt-ref=1 \
                --gf-max-pyr-height=4 \
                --gf-min-pyr-height=4 \
                --kf-max-dist=65 \
                --kf-min-dist=65 \
                --lag-in-frames=19 \
                --max-gf-interval=16 \
                --min-gf-interval=16 \
              "
              ;;

            low-delay)
              AVMENC_ARGS="${AVMENC_ARGS} \
                --gf-max-pyr-height=4 \
                --gf-min-pyr-height=4 \
                --kf-max-dist=9999 \
                --kf-min-dist=9999 \
                --lag-in-frames=0 \
                --subgop-config-str=ld \
              "
              ;;

            *)
              echo "Unknown encoder output: '${AVMENC_OUTPUT}'" >&2
              exit 1
              ;;
          esac

          # Append to workflow environment
          echo "AVMENC_ARGS=${AVMENC_ARGS}" >>${GITHUB_ENV}

      - name: Test
        run: |
          echo build=${{ steps.variables.outputs.avm-enc-build-job }}
          echo name=${{ steps.variables.outputs.artifact-name }}
          echo basename=${{ steps.variables.outputs.artifact-basename }}

          ls -la

          env | sort -n
          touch lol.${GITHUB_JOB}

      - name: Pull input file
        run: |
          curl -s -S -f -O https://gitlab.com/AOMediaCodec/aom-testing/-/raw/master/test-files/${AVMENC_INPUT}.xz
          unxz ${AVMENC_INPUT}.xz

      - name: Pull encoder build
        uses: actions/download-artifact@v5
        with:
          name: ${{ steps.variables.outputs.avm-enc-build-job }}
          path: avm_example_build

      - name: Fix executable bit permissions
        run: |
          # See https://github.com/actions/upload-artifact/issues/38 for details about why we need this

          # Look for files starting with ELF header and set executable but
          for file in $(find avm_example_build/ -type f); do
            if grep --quiet --binary --text --perl-regexp "^\x7f\x45\x4c\x46" "${file}"; then
              echo "Found binary ${file}, fixing permissions."
              chmod a+x "${file}"
            fi
          done

      - name: Encode
        run: |
          printf -- "\n---------------------------------------------------\n"
          echo "Encoder input:  ${AVMENC_INPUT}"
          echo "Encoder output: ${AVMENC_OUTPUT}"
          echo "Encoder args:   ${AVMENC_ARGS}"
          printf -- "---------------------------------------------------\n\n"

          ${AVMENC} \
            ${AVMENC_ARGS} \
            ${AVMENC_INPUT} \
            2>&1 | tee ${AVMENC_OUTPUT_BASENAME}.psnr.log

          if [ ! -f ${AVMENC_OUTPUT_BASENAME}.obu ]; then
            echo "Cannot find OBU file" >&2
            exit 1
          fi

          md5sum --binary ${AVMENC_OUTPUT_BASENAME}.obu | awk '{ print $1; }' > ${AVMENC_OUTPUT_BASENAME}.md5

      - name: Upload artifacts
        uses: actions/upload-artifact@v4.1.0
        if: ${{ always() }}
        with:
          name: ${{ steps.variables.outputs.artifact-name }}
          path: ${{ steps.variables.outputs.artifact-basename }}.*

  enc-previous:
    name: enc-previous-${{ inputs.avm-enc-output }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    runs-on: ${{ fromJson(inputs.runner) }}
    container:
      image: ${{ inputs.container-image }}
    env: *job-enc-current-env
    steps: *job-enc-current-steps

  dec-current:
    name: dec-${{ inputs.avm-enc-output }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    runs-on: ${{ fromJson(inputs.runner) }}
    needs:
      - enc-current
    container:
      image: ${{ inputs.container-image }}
    env:
      AVMENC_OUTPUT: ${{ inputs.avm-enc-output }}
      AVMENC_LIMIT: ${{ inputs.avm-enc-limit }}
      AVMDEC: avm_example_build/avmdec
    steps:
      - name: Pull encoded sample
        uses: actions/download-artifact@v5
        with:
          name: enc-${{ inputs.avm-enc-output }}

      - name: Pull decoder build
        uses: actions/download-artifact@v5
        with:
          name: example-build
          path: avm_example_build

      - name: Fix executable bit permissions
        run: |
          # See https://github.com/actions/upload-artifact/issues/38 for details about why we need this

          # Look for files starting with ELF header and set executable but
          for file in $(find avm_example_build/ -type f); do
            if grep --quiet --binary --text --perl-regexp "^\x7f\x45\x4c\x46" "${file}"; then
              echo "Found binary ${file}, fixing permissions."
              chmod a+x "${file}"
            fi
          done

      - name: Decode
        run: |
          ${AVMDEC} \
            ${AVMENC_OUTPUT}.obu \
            -o ${AVMDEC_OUTPUT}.decoded.y4m \
            --summary \
            2>&1 | tee ${AVMDEC_OUTPUT}.summary.log

          if [ ! -f ${AVMDEC_OUTPUT}.decoded.y4m ]; then
            echo "Cannot find Y4M file" >&2
            exit 1
          fi

          if [ ! -f ${AVMDEC_OUTPUT}.summary.log ]; then
            echo "Cannot find summary log file" >&2
            exit 1
          fi

          for str in 'decoded frames' 'showed frames'; do
            frame_count=$(grep -E -o "[0-9]+ ${str}" "${AVMDEC_OUTPUT}.summary.log" | sed -E "s/([0-9]+) ${str}/\1/g")
            echo "${str} = ${frame_count}"
            if [ ${frame_count} -ne ${AVMENC_LIMIT} ]; then
              echo "ERROR: Unexpected number of ${str}. Got ${frame_count}, expected ${AVMENC_LIMIT}" >&2
              exit 1
            fi
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@v4.1.0
        if: ${{ always() }}
        with:
          name: dec-${{ inputs.avm-enc-output }}
          path: ${{ inputs.avm-enc-output }}.*

  enc-compare:
    name: enc-compare-${{ inputs.avm-enc-output }}
    needs:
      - enc-current
      - enc-previous
    timeout-minutes: ${{ inputs.timeout-minutes }}
    runs-on: self-hosted
    container:
      image: ${{ inputs.container-image }}
    steps:
      - uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 50
          fetch-tags: true
          lfs: true

      - uses: ./.github/actions/common-setup

      - name: Pull encoded sample hashes
        uses: actions/download-artifact@v5
        with:
          name: enc-${{ inputs.avm-enc-output }}

      - name: Pull encoded sample hashes (previous)
        uses: actions/download-artifact@v5
        with:
          name: enc-previous-${{ inputs.avm-enc-output }}

      - name: Compare
        run: |
          ALLOW_FAIL=0
          FAILED=0

          if [ -n "$(git --no-pager log --grep STATS_CHANGED --format=format:"%H" "${{ github.event.pull_request.base.sha }}..${{ github.sha }}")" ]; then
            ALLOW_FAIL=1
          fi

          variant=${{ inputs.avm-enc-output }}

          if diff -- "previous-${variant}.md5" "${variant}.md5" &>/dev/null; then
            echo "OK: No differences in ${variant} outputs found."
            echo ""
          else
            echo "WARNING: previous-${variant}.md5 and ${variant}.md5 differ!"
            echo "previous-${variant}.md5 : $(cat previous-${variant}.md5)"
            echo "${variant}.md5          : $(cat ${variant}.md5)"
            echo ""
            FAILED=1
          fi

          if [ ${FAILED} -eq 1 ]; then
            if [ ${ALLOW_FAIL} -eq 1 ]; then
              echo "SUCCESS: Even though a mismatch was detected, one or more"
              echo "         commits contain the STATS_CHANGED keyword, so mismatch"
              echo "         of encode outputs is allowed."
              echo "Commits containing STATS_CHANGED added in this MR:"
              git --no-pager log --grep STATS_CHANGED --format=format:"%h: %s; \"%aN\" <%aE>" "${{ github.event.pull_request.base.sha }}..${{ github.sha }}"
              echo ""
              exit 77
            fi

            echo "FAIL: Failing job due to mismatch and no STATS_CHANGED keyword"
            echo "      was found in any of the commits added in this MR!"
            exit 1
          fi
